body{
    background-image: url("../vue-todolist/img/sfondoTodolist.jpg");
    background-size: cover;
}
.my-container{
    margin: auto;
    width: 600px;
}
.difficulty{
    background-color: white;
    border-radius: 10px;
}
ul,li{
    text-decoration: none;
    list-style: none;
}